<div class="col mb-4">
    <!-- On donne une hauteur similaire a la carte pour l'affichage et on
      centre le bouton avec une flexbox -->
    <div id="add" class="card h-100">
      <div
        class="card-body d-flex justify-content-center align-items-center"
      >
        <button
          id="add_<%= datatype %>"
          class="btn btn-success <%= datatype %>-add"
          type="button"
          >Ajouter <%= datatype %></button
        >
      </div>
    </div>
  </div>