<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Changer le titre -->
    <title>...</title>
  </head>
  <body>
    <!-- TODO: Remplir avec les bonnes valeurs 
    - affichage du nombre de points
    - affichage des cadeaux actuellements dans le panier
    - bouton pour switcher entre la page de compte et la page d'achat des cadeaux
    - boutons pour supprimer / vider / valider le panier 
    -->
  </body>
</html>
