<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Import Libraries -->
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link href="/styles/theme.css" rel="stylesheet" />
    <link href="/styles/compte_gerante.css" rel="stylesheet" />
    <link href="/styles/card-client-cadeau.css" rel="stylesheet" />
    <!-- Script de fonctions utilitaires utilisées dans compte_gerante.js -->
    <!-- <script src="/scripts/comptes.js"></script> -->
    <!-- Script pour gérer les interractions avec l'utilisateur (boutons, ...) -->
    <script src="/scripts/compte_gerante.js"></script>
    <title>Gérante: Compte</title>
  </head>

  <body>
    <!-- Navigation Bar -->
    <!-- Navigation Bar
      @sticky-top: fixe la navbar en haut de la page
      @navbar-expand-lg: collapse la navbar sur les écrants small, 
      (i.e étend la navbar pour les écrans >= large) et ajoute un bouton
    -->
    <nav
      id="navNavBar"
      class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
    >
      <!-- La navbar possède une icône qui renvoie vers le haut de la page. -->
      <a id="aNavbar" class="navbar-brand" href="#">
        <img
          src="/images/gerante.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt="gerante.png"
        />
        Menu Gérante
      </a>

      <!-- Bouton en cas de collapse de la navbar -->
      <button
        id="buttonNavbarToggler"
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navBarContent"
        aria-controls="navBarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- Button icon -->
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenu de la Navbar 
      @collapse: Indique que le contenu de la navbar peut être collapsé
    -->
      <div id="navBarContent" class="collapse navbar-collapse">
        <!-- List non ordonnée contenant les éléments à afficher (soit les 
          clients, soit les cadeaux)
        @navbar-nav: Applique le style navbar à la liste
        @mr-auto: margin right auto, "pousse" la liste vers la gauche
        @nav-item: Applique le style nav-item à chaque élément de la liste
       -->
        <ul id="ulNavbarContent" class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/gerante/compte?data=clients"
              >Gestion des clients</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gerante/compte?data=cadeaux"
              >Gestion des cadeaux</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- TODO: Ajouter une barre de recherche pour filtrer les clients -->

    <!-- Contenu principal -->
    <h2 class="page-title">Liste des <%= datatype %></h2>
    <div class="container mt-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <!-- On utilise une template pour la card représentant le type de
            données correspond, en passant bien les variables nécessaires. -->
        <% for ( let i = 0; i < data.length; i++) { %>
        <!-- Si on affiche des clients -->
        <% if( datatype === "clients" ) { let client = data[i]; %> <%-
        include('card_client.ejs', {client: client}) %> <% } else if ( datatype
        === "cadeaux" ) { let cadeau = data[i]; %> <%-
        include('card_cadeau.ejs', {cadeau: cadeau}) %> <% } %> <% } %>
        <!-- On utilise une template pour la card représentant l'ajout d'un
        cadeau/client, en passant bien les variables nécessaires. -->
        <%- include('card_add.ejs', {datatype : datatype}) %>
      </div>
    </div>
  </body>
</html>
