<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Connexion</title>
    <!-- Lien vers CSS de Bootstrap -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- Centrer le formulaire de connexion -->
        <div class="col-md-8 offset-md-2">
          <div class="login-form bg-light mt-4 p-5">
            <form action method class="row g-3">
              <h4>Connexion</h4>
              <!-- Si c'est un client qui se connecte, un identifiant est attendu -->
              <% if (uti === "client") { %>
              <div class="col-12">
                <label>Identifiant</label>
                <input type="id" name="id"
                  class="form-control"
                  placeholder="Identifiant">
              </div>
              <% } %>
              <!-- Toute connexion requiert un mot de passe -->
              <div class="col-12">
                <label>Mot de passe</label>
                <input type="mdp" name="mdp"
                  class="form-control"
                  placeholder="Mot de passe">
              </div>
              <div
                class="col-12 mt-2 d-flex justify-content-center">
                <button type="submit"
                  class="btn btn-primary">Connexion</button>
              </div>

            </form>
            <hr class="mt-4">
          </div>
        </div>
      </div>
    </div>

    <!-- Lien vers le JS de Bootstrap -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
