<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Changer le titre -->
    <title>...</title>
  </head>
  <body>
    <!-- TODO: un formulaire avec utilisateur et mot de passe.
    Le nom d'utilisateur des clients est utilisé comme id dans la table personnes.
    -->
  </body>
</html>
