<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: Changer titre -->
    <title>...</title>
</head>
<body>
    <!-- TODO: Remplir avec les bonnes valeurs
    - bouton pour switcher entre la page de compte et la page d'achat des cadeaux
    - affichage de la liste des cadeaux disponibles pour elle
    - bouton pour ajouter un cadeau dans le panier
    - pseudo mise à jour des points à chaque ajout dans le panier
    - chaque cadeau est représenté par une image, un nom, un prix en points
    - menu déroulant pour spécifier les caractéristiques du cadeau
    -->
</body>
</html>