<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Changer titre -->
    <title>...</title>
  </head>
  <body>
    <!-- TODO: Remplir avec les bonnes valeurs
    - menu de navigation, pour gérer soit les clients, soit les cadeaux
    - voir la liste des clients
    - boutons sur chaque client pour modifier / supprimer
    - bouton pour ajouter client -> redirection vers un formulaire ???
    - boutons pour ajouter (par caracteristiques) / supprimer (par cadeaux_id) un cadeau
    -->
  </body>
</html>
