<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Changer le titre -->
    <title>...</title>
  </head>
  <body>
    <!-- TODO: un formulaire avec utilisateur et motdepasse.
    Le nom d'utilisateur des clients est utilisé comme id dans la base de données personne.
    -->
  </body>
</html>
