/* Ici, vous mettez vos styles CSS personnalisés */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Ajoutez d'autres styles personnalisés ci-dessous */
.container-fluid {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}
