/* *********** THEME GENERAL *********** */

body {
  background-color: #4f555c;
  color: aliceblue;
}

/* Gestion des titres des pages */
.page-title {
  text-align: center; /* Centre le texte */
  font-size: 2em; /* Augmente la taille de la police */
  font-weight: bold; /* Rend le texte en gras */
}

/* *********** Gestion des card *********** */

/* Gestion des card */
.card {
  background-color: #343a40;
  /* Transition pour l'effet d'ombre */
  transition: box-shadow 0.3s ease-in-out;
}

